extends ../layout

block content
    div.container-fluid
        div.jumbotron
            h4.text-center 404 NOT FOUND
            div.text-center
                a.btn.btn-success(href="/users/index") 回到首页   
