extends ../layout

block content
    div.container-fluid
        include ../components/alert.pug
        h4.text-center 区域管理
            button.btn.btn-primary.float-right(data-toggle="modal" data-target="#addModal") 添加区域
        div.table-warp
            table.table.table-striped.table-hover
                thead
                    th 区域ID
                    th 区域名称
                    th 操作
                tbody#J_tbody
                    each item,index in areaList
                        tr
                            td #{item.id}
                            td <strong>#{item.name}</strong>
                            td
                                button.btn.btn-danger(data-toggle="modal" data-target="#promptModal" data-id=`${item.id}`) 删除

    div.modal.fade#addModal(role="dialog")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 添加区域信息
                div.modal-body.modify-area
                    div.form-group
                        label(for="areaname") 区域名称
                        input#J_areaName.form-control(type="text" placeholder="请输入区域名称")
                    div.form-group
                        label(for="areaname") 区域首字母
                        input#J_areaLetter.form-control(type="text" placeholder="请输入区域名称首字母")
                div.modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") 取消
                    button#J_doAdd.btn.btn-success(type="button" data-dismiss="modal") 确认
                    
    include ../components/prompt.pug

block append script
    script(src="/javascripts/pages/area.js")
