extends ../layout

block content
    div.container-fluid
        h4.text-center 我的发布
        div.table-warp
            table.table.table-striped.table-hover
                thead
                    th 标题
                    th 发布区域
                    th 发布类型
                    th 发布时间
                    th 操作
                tbody
                    tr
                        td 
                            p.td-title 安条记因低县委所提化权联立重提
                        td 
                            span.label.label-success 科技城
                            span.label.label-success 启迪城
                        td 公告
                        td 2018-09-09
                        td 
                            a.btn.btn-info(href="/users/detail?id=001&type=1") 查看
                    tr
                        td 安条记因低县委所提化权联立重提
                        td 
                            span.label.label-success 科技城
                            span.label.label-success 启迪城
                        td 推荐墙
                        td 2018-09-09
                        td 
                            a.btn.btn-info(href="/users/detail?id=002&type=2") 查看
