extends ../layout

block content
    div.container-fluid
        div.jumbotron
            h3.text-center 发布成功
            p.text-center 消息内容已经发布，请到程序中查看
            div.text-center
                a.btn.btn-success(href="/users/index") 回到首页   
