div.modal.fade#promptModal(role="dialog")
    div.modal-dialog
        div.modal-content
            div.modal-header
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
                h4.modal-title 提示
            div.modal-body 确定要删除该项？
            div.modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") 取消
                button#J_doDelete.btn.btn-danger(type="button" data-dismiss="modal") 确认
